/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header Styles */
header {
  background-color: #007bff;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Login Page Styles */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #f9f9f9;
}

.login-header {
  font-size: 4rem;
  margin-bottom: -10rem;
}

/* Register Page Styles */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.register-form {
  /* Similar structure to .login-form for consistency , if you want to change, change all*/
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #f9f9f9;
}

/* Dashboard Page Styles */
.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.dashboard-form {
  /* Similar structure to .login-form for consistency , if you want to change, change all*/
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #f9f9f9;
}
.logout-btn {
  color: white !important;
  background-color: #007bff; /* Or any color that fits your design */
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none; /* Removes underline from links */
}

/* Profile Page Styles */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.profile-form {
  /* Similar structure to .login-form for consistency , if you want to change, change all*/
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #f9f9f9;
}

/* fuel_quote Page Styles */
.fuel_quote-container {
  display: flex;
  width: 100%;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
  /* border: dotted green; */
}

.fuel_quote-container #left,
#right {
  width: 50%;
  /* margin: auto; */
  margin-top: 50px;
  margin-bottom: 120px;
  /* margin-right: 50px; */
  padding: 20px 15px;
  border-radius: 10px;
  box-shadow: 10px 5px 10px #ccc;
  overflow-wrap: break-word;
}

.fuel_quote-container #left {
  /* border: 2px solid black; */
  margin-left: 20px;
  margin-right: 30px;
  /* height: 75%; */
  /* text-align: center; */
}

.fuel_quote-container #right {
  /* border: 2px solid blue; */
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.fuel_quote-container label {
  display: block;
  width: 30%;
  text-align: left;
}

.fuel_quote-container .city_state {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 0;
  width: 100%;
  /* height: 150px; */
  /* border-radius: 5px; */
  box-sizing: border-box;
  /* align-items: center; */
}

.fuel_quote-container #city {
  /* border: 1px solid black; */
  width: 35%;
}

.fuel_quote-container #state {
  /* border: 1px solid blue; */
  width: 10%;
}

.fuel_quote-container #zip_code {
  /* border: 1px solid green; */
  width: 15%;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.fuel_quote-container #btn {
  /* border: 1px solid black; */
  /* position: relative; */
  height: 50px;
  margin: 2px 90px;
  text-align: center;
  padding: 10px 0;
  /* position: relative; */
}

.fuel_quote-container button {
  color: white;
  background-color: rgb(9, 121, 173);
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.fuel_quote-container button:hover {
  background-color: rgb(8, 167, 240);
  cursor: pointer;
}

.fuel_quote-container #right .quote-form {
  /* border: 5px solid red; */
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.fuel_quote-container #total {
  font-weight: bold;
  font-size: 35px;
}

.fuel_quote-container #cost-shown,
#gallons-shown,
#price-shown,
#delivery-shown,
#tax-shown {
  font-size: 20px;
}

/* .fuel_quote-form {
  Similar structure to .login-form for consistency , if you want to change, change all
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #f9f9f9;
} */

.fuel-history-container {
  margin: 0 auto; 
  max-width: 800px; 
  padding: 0 15px;
  text-align: center; 
}

.filter-container {
  border: 1px solid #ccc; 
  padding: 10px;
}
.filter-output-container {
  border: 1px solid #ccc; 
  padding: 20px; 
  max-width: 800px;
  margin: 0 auto; 
}
.quote-table th,
.quote-table td {
    padding: 17px; 
    text-align: center; 
    border-bottom: 2px solid rgb(9, 121, 173);
}

.quote-table th:first-child,
.quote-table td:first-child {
    text-align: left; 
}

