/* Global Styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header Styles */
header {
  background-color: #007bff;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Login Page Styles */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #f9f9f9;
}

.login-header {
  font-size: 4rem;
  margin-bottom: -10rem;
}

/* Register Page Styles */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.register-form {
  /* Similar structure to .login-form for consistency , if you want to change, change all*/
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #f9f9f9;
}

/* Dashboard Page Styles */
.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.dashboard-form {
  /* Similar structure to .login-form for consistency , if you want to change, change all*/
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #f9f9f9;
}
.logout-btn {
  color: white !important;
  background-color: #007bff; /* Or any color that fits your design */
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none; /* Removes underline from links */
}

/* Profile Page Styles */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.profile-form {
  /* Similar structure to .login-form for consistency , if you want to change, change all*/
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #f9f9f9;
}

/* fuel_quote Page Styles */
.fuel_quote-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: dotted green;
}

.fuel_quote-container #left,
.fuel_quote-container #right {
  display: inline-block;
  width: 10rem;
}

.fuel_quote-container #left {
  border: solid red;
  flex: 1;
}

.fuel_quote-container #right {
  border: solid blue;
  margin: 0 0 0 10px;
  float: right;
}

.fuel_quote-container button {
  color: blue;
  width: 50%;
  justify-content: inherit;
  align-items: inherit;
}

.fuel_quote-container form div {
  border: solid purple;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  /* width: 50%;
  max-width: 50%; */
}

.fuel_quote-container form div label {
  display: block;
}

.fuel_quote-container #gallons,
#delivery_date,
#address {
  width: 100%;
}

.fuel_quote-container #city,
#state {
  display: inline-block;
  width: 30%;
}
/* .fuel_quote-form {
  Similar structure to .login-form for consistency , if you want to change, change all
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #f9f9f9;
} */

/* fuel_history Page Styles */
.fuel_history-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.fuel_history-form {
  /* Similar structure to .login-form for consistency , if you want to change, change all*/
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #f9f9f9;
}
