<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
      <!-- Company Name or Logo -->
      <a class="navbar-brand" href="/dashboard">FuelMetrics</a>

      <!-- Navbar Toggler for smaller screens -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <!-- Nav Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/fuel_quote">Get Quote</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fuel_history">Quote History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Fuel Quote Page -->
    <div class="fuel_quote-container">
      <!-- Left Side -->
      <section id="left">
        <h2>Request Quote</h2>
        <!-- Quote Form -->
        <form method="post" class="quote-form">
          <div class="fuel_quote-form">
            <label for="gallons">Gallons: </label>
            <input
              type="text"
              id="gallons"
              name="gallons"
              title="Enter the amount of gallons" />
            <span id="gallonsError" style="color: red; display: none;"
              >Please enter a valid number for gallons.</span
            >
          </div>
          <div class="fuel_quote-form">
            <label for="delivery_date">Delivery Date: </label>
            <input type="date" id="delivery_date" name="delivery_date" />
          </div>

          <!--For address and city and state to be displayed-->
          <div class="fuel_quote-form">
            <label for="address">Address: </label>
            <input
              type="text"
              id="address"
              name="address"
              value="{{ profile_info.address1 }}"
              readonly />
          </div>
          <div class="fuel_quote-form city_state">
            <label for="city">City: </label>
            <input
              type="text"
              id="city"
              name="city"
              value="{{ profile_info.city }}"
              readonly />
            <label for="state">State: </label>
            <input
              type="text"
              id="state"
              name="state"
              value="{{ profile_info.state }}"
              readonly />
            <label for="zip_code">Postal Code: </label>
            <input
              type="text"
              id="zip_code"
              name="zip_code"
              value="{{profile_info.zip_code}}"
              readonly />
          </div>

          <div id="btn">
            <button type="submit">Get Quote</button>
          </div>
        </form>
      </section>
      <!-- Right Side -->
      <section id="right">
        <h2>Fuel Quote</h2>
        <div class="quote-form">
          <p>Estimated Cost: $<span id="cost-shown">--</span></p>
          <p>Gallons: <span id="gallons-shown">--</span></p>
          <p>Price Per Gallon: $<span id="price-shown">--</span></p>
          <p>Delivery: <span id="delivery-shown">--</span></p>
          <p>Tax: $<span id="tax-shown">--</span></p>
          <p>Total Cost: $<span id="total">--</span></p>
        </div>
      </section>
    </div>
    <script src="static/js/scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
