<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

    <div class="register-container">
        <form action="/path_to_registration_logic" method="post" class="register-form">
            <h4>Create Account</h4>
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required placeholder="Choose a Username">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required placeholder="Create a Password">
            </div>
            <button type="submit">Register</button>
            <div class="login-link">
                <p>Already have an account? <a href="login.html">Login Here</a></p>
            </div>
        </form>
    </div>

</body>
</html>
