<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css"> <!-- Your custom styles -->
</head>
<body>
    <div class="container">
        <!-- Big Header -->
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h1 class="mt-5 login-header">FuelMetrics</h1>
            </div>
        </div>

<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
      <!-- Flash Messages Display Area -->
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          <div class="alert alert-warning" role="alert">
              {% for message in messages %}
                  {{ message }}<br>
              {% endfor %}
          </div>
      {% endif %}
  {% endwith %}

    <div class="card" style="width: 400px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Create Account</h4>
            <form action="/register" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required minlength="5" maxlength="25" pattern="[A-Za-z0-9]+" title="Username should be 5-25 characters long and contain only letters and numbers." placeholder="Choose a Username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password must contain at least one number, one uppercase and one lowercase letter, and at least 8 or more characters" placeholder="Create a Password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
                <div class="mt-4 text-center">
                    Already have an account? <a href="/login">Login Here</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
